body { 
    background: #00FFFF;
  }
  
  #PTV {
    float: left;
    }
  
  #summary {
    float: left;
    margin: 0px 40px 0px 0px;
  }
  
  .desc { 
    flex-wrap: wrap;
    width: 20rem; 
  }
  
  .blogtitle{ 
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
  }
  
  #blogposts { 
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    background-color: light blue;
    padding: 1rem;
    border: 10px solid;
  }

  